body {
    padding-top: 50px;
    color: #ffd700;

}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bootstrap-overrides{
    background-color: #0f0f0f;
}

#search{
    color: black;
}

#searchBar{
    font-size: 17px;
}

#searchBox{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.questionGroup {
    text-align: justify;
}

.answerGroup {
    text-align: justify;
}

.learnMoreText{
    font-style: italic;
    font-size: small;
    color: whitesmoke;
}