body {
    padding-top: 50px;
    color: #ffd700;

}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

html {
    background: url(imgs/space.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bootstrap-overrides{
    background-color: transparent;
}

#search{
    color: black;
}

#searchBar{
    font-size: 17px;
}

#searchBox{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}